@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*,
:before,
:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

body {
  position: relative;
  text-align: center;
}

.section1 {
  padding: 40px 10% 30px 10%;
  background: #007c5d;
  color: white;
  height: 800px;
}

.section1 .logo {
  font-size: 1.7rem;
  font-weight: 600;
  font-style: italic;
}

.section1 .logo img {
  width: 30px;
}

@media screen and (max-width: 750px) {
  .section1 .logo img {
    width: 25px;
  }
}

@media screen and (max-width: 1080px) {
  .section1 .logo {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 750px) {
  .section1 .logo {
    font-size: 1.4rem;
  }
}

.section1 h1 {
  font-size: 3.7rem;
  font-weight: 500;
  margin-top: 50px;
}

@media screen and (max-width: 1080px) {
  .section1 h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 900px) {
  .section1 h1 {
    font-size: 1.8rem;
  }
}

.section1 h2 {
  font-size: 2.2rem;
  font-weight: 400;
  width: 700px;
  margin: 30px auto;
}

@media screen and (max-width: 1080px) {
  .section1 h2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 900px) {
  .section1 h2 {
    width: 100%;
  }
}

.section1 form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section1 form .text-input-div.inactive {
  position: relative;
  width: 400px;
}

.section1 form .text-input-div.inactive .email {
  position: absolute;
  color: #333;
  font-size: 0.7rem;
  left: 45px;
  font-weight: 300;
  top: 13px;
  opacity: 0;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

@media screen and (max-width: 1080px) {
  .section1 form .text-input-div.inactive .email {
    left: 40px;
  }
}

@media screen and (max-width: 650px) {
  .section1 form .text-input-div.inactive .email {
    left: 11.25%;
  }
}

@media screen and (max-width: 485px) {
  .section1 form .text-input-div.inactive .email {
    left: 20px;
  }
}

.section1 form .text-input-div.inactive input {
  height: 50px;
  width: 270px;
  padding: 20px;
  font-size: 1.1rem;
  font-weight: 400;
  border-radius: 5px;
  border: none;
}

.section1 form .text-input-div.inactive input:activate {
  outline: none;
}

.section1 form .text-input-div.inactive input:focus {
  outline: none;
}

.section1 form .text-input-div.inactive input::-webkit-input-placeholder {
  position: absolute;
  left: 20px;
  color: #555;
  font-size: 1rem;
  letter-spacing: 1px;
}

.section1 form .text-input-div.inactive input:-ms-input-placeholder {
  position: absolute;
  left: 20px;
  color: #555;
  font-size: 1rem;
  letter-spacing: 1px;
}

.section1 form .text-input-div.inactive input::-ms-input-placeholder {
  position: absolute;
  left: 20px;
  color: #555;
  font-size: 1rem;
  letter-spacing: 1px;
}

.section1 form .text-input-div.inactive input::placeholder {
  position: absolute;
  left: 20px;
  color: #555;
  font-size: 1rem;
  letter-spacing: 1px;
}

@media screen and (max-width: 750px) {
  .section1 form .text-input-div.inactive input::-webkit-input-placeholder {
    letter-spacing: 0;
  }
  .section1 form .text-input-div.inactive input:-ms-input-placeholder {
    letter-spacing: 0;
  }
  .section1 form .text-input-div.inactive input::-ms-input-placeholder {
    letter-spacing: 0;
  }
  .section1 form .text-input-div.inactive input::placeholder {
    letter-spacing: 0;
  }
}

@media screen and (max-width: 1080px) {
  .section1 form .text-input-div.inactive input {
    width: 90%;
  }
}

@media screen and (max-width: 485px) {
  .section1 form .text-input-div.inactive input {
    width: 100%;
  }
}

@media screen and (max-width: 485px) {
  .section1 form .text-input-div.inactive {
    width: 100%;
  }
}

.section1 form .text-input-div.active {
  position: relative;
  width: 400px;
}

.section1 form .text-input-div.active .email {
  position: absolute;
  color: #333;
  font-size: 0.7rem;
  left: 45px;
  font-weight: 300;
  top: 10px;
  opacity: 100%;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

@media screen and (max-width: 1080px) {
  .section1 form .text-input-div.active .email {
    left: 40px;
  }
}

@media screen and (max-width: 650px) {
  .section1 form .text-input-div.active .email {
    left: 11.25%;
  }
}

@media screen and (max-width: 485px) {
  .section1 form .text-input-div.active .email {
    left: 20px;
  }
}

.section1 form .text-input-div.active input {
  height: 50px;
  width: 270px;
  padding: 20px;
  font-size: 1.1rem;
  font-weight: 400;
  border-radius: 5px;
  border: none;
  padding-bottom: 5px;
}

.section1 form .text-input-div.active input:activate {
  outline: none;
}

.section1 form .text-input-div.active input:focus {
  outline: none;
}

.section1 form .text-input-div.active input::-webkit-input-placeholder {
  position: absolute;
  left: 20px;
  color: #555;
  font-size: 1rem;
  letter-spacing: 1px;
}

.section1 form .text-input-div.active input:-ms-input-placeholder {
  position: absolute;
  left: 20px;
  color: #555;
  font-size: 1rem;
  letter-spacing: 1px;
}

.section1 form .text-input-div.active input::-ms-input-placeholder {
  position: absolute;
  left: 20px;
  color: #555;
  font-size: 1rem;
  letter-spacing: 1px;
}

.section1 form .text-input-div.active input::placeholder {
  position: absolute;
  left: 20px;
  color: #555;
  font-size: 1rem;
  letter-spacing: 1px;
}

@media screen and (max-width: 750px) {
  .section1 form .text-input-div.active input::-webkit-input-placeholder {
    letter-spacing: 0;
  }
  .section1 form .text-input-div.active input:-ms-input-placeholder {
    letter-spacing: 0;
  }
  .section1 form .text-input-div.active input::-ms-input-placeholder {
    letter-spacing: 0;
  }
  .section1 form .text-input-div.active input::placeholder {
    letter-spacing: 0;
  }
}

@media screen and (max-width: 1080px) {
  .section1 form .text-input-div.active input {
    width: 90%;
  }
}

@media screen and (max-width: 485px) {
  .section1 form .text-input-div.active input {
    width: 100%;
  }
}

@media screen and (max-width: 485px) {
  .section1 form .text-input-div.active {
    width: 100%;
  }
}

.section1 form button {
  height: 50px;
  width: 160px;
  background: #222;
  color: white;
  font-size: 0.95rem;
  border: none;
  border-radius: 5px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

.section1 form button:hover {
  background: #111;
  -webkit-box-shadow: 0 5px 20px #006d49;
          box-shadow: 0 5px 20px #006d49;
}

@media screen and (max-width: 485px) {
  .section1 form button {
    width: 100%;
    margin-top: 10px;
  }
}

@media screen and (min-width: 1080px) {
  .section1 form {
    width: 450px;
    margin: auto;
  }
}

@media screen and (max-width: 485px) {
  .section1 form {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.section1 p {
  font-size: 0.8rem;
  width: 100%;
  margin: 30px auto;
  font-weight: 300;
}

@media screen and (max-width: 900px) {
  .section1 p {
    font-size: 0.7rem;
  }
}

.section1 img {
  position: relative;
  width: 80%;
  z-index: 1;
}

@media screen and (max-width: 485px) {
  .section1 img {
    width: 100%;
  }
}

@media screen and (max-width: 1080px) {
  .section1 {
    height: 700px;
  }
}

@media screen and (max-width: 900px) {
  .section1 {
    height: 600px;
  }
}

@media screen and (max-width: 750px) {
  .section1 {
    padding: 30px 10% 30px 10%;
    height: 550px;
  }
}

@media screen and (max-width: 685px) {
  .section1 {
    height: 520px;
  }
}

@media screen and (max-width: 485px) {
  .section1 {
    height: 600px;
  }
}

.wave {
  position: absolute;
  top: 600px;
  left: 0;
}

@media screen and (max-width: 1080px) {
  .wave {
    top: 500px;
  }
}

@media screen and (max-width: 900px) {
  .wave {
    top: 420px;
  }
}

@media screen and (max-width: 810px) {
  .wave {
    top: 450px;
  }
}

@media screen and (max-width: 750px) {
  .wave {
    top: 400px;
  }
}

@media screen and (max-width: 545px) {
  .wave {
    top: 410px;
  }
}

@media screen and (max-width: 500px) {
  .wave {
    top: 420px;
  }
}

@media screen and (max-width: 485px) {
  .wave {
    top: 500px;
  }
}

@media screen and (max-width: 450px) {
  .wave {
    top: 520px;
  }
}

@media screen and (max-width: 365px) {
  .wave {
    top: 530px;
  }
}

@media screen and (max-width: 315px) {
  .wave {
    top: 540px;
  }
}

@media screen and (max-width: 272px) {
  .wave {
    top: 550px;
  }
}

.section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 150px 7% 120px 7%;
  text-align: left;
}

.section2 .feature {
  margin: 20px;
  width: 33.3333%;
}

.section2 .feature .icon {
  color: #007c5d;
}

.section2 .feature .icon img {
  width: 50px;
}

.section2 .feature h1 {
  margin: 20px 0 10px 0;
  font-size: 1.1rem;
  font-weight: 500;
}

.section2 .feature p {
  color: #777;
  font-size: 1rem;
  font-weight: 400;
  line-height: 25px;
}

@media screen and (max-width: 750px) {
  .section2 .feature {
    width: 100%;
  }
}

@media screen and (max-width: 1080px) {
  .section2 {
    padding: 150px 15% 90px 15%;
  }
}

@media screen and (max-width: 900px) {
  .section2 {
    padding: 120px 10% 50px 10%;
  }
}

@media screen and (max-width: 750px) {
  .section2 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 100px 3% 30px 3%;
  }
}

.section3 {
  text-align: center;
  margin: 0 150px;
}

.section3 hr {
  border-top: 1px solid #ddd;
  border-bottom: none;
  margin: 50px auto;
}

@media screen and (max-width: 750px) {
  .section3 hr {
    margin: 20px auto;
  }
}

.section3 .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 10px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section3 img {
  width: 90px;
}

@media screen and (max-width: 1080px) {
  .section3 img {
    margin: 20px 20px;
    width: 110px;
  }
}

@media screen and (max-width: 800px) {
  .section3 img {
    margin: 15px 15px;
    width: 110px;
  }
}

@media screen and (max-width: 750px) {
  .section3 img {
    margin: 15px 30px;
    width: 110px;
  }
}

@media screen and (max-width: 800px) {
  .section3 {
    margin: 0 5%;
  }
}

.section4 {
  text-align: center;
  margin: 100px 25% 60px 25%;
}

.section4 h1 {
  color: #333;
  font-weight: 400;
  margin-bottom: 30px;
  line-height: 2rem;
}

@media screen and (max-width: 1080px) {
  .section4 h1 {
    font-size: 1.2rem;
  }
}

.section4 h2 {
  color: #444;
  font-size: 0.85rem;
  font-weight: 500;
  text-transform: uppercase;
}

.section4 button {
  height: 50px;
  width: 160px;
  margin: 50px;
  background: #007c5d;
  color: white;
  font-size: 0.95rem;
  border: none;
  border-radius: 5px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

.section4 button:hover {
  background: #004e3b;
  -webkit-box-shadow: 0 5px 20px #ccc;
          box-shadow: 0 5px 20px #ccc;
}

@media screen and (max-width: 1080px) {
  .section4 {
    margin: 100px 25% 60px 25%;
  }
}

@media screen and (max-width: 900px) {
  .section4 {
    margin: 90px 20% 60px 20%;
  }
}

@media screen and (max-width: 750px) {
  .section4 {
    margin: 90px 10% 20px 10%;
  }
}

.footer {
  padding: 0 150px 10px 150px;
}

.footer .links {
  padding-right: 10px;
  font-size: 1rem;
  font-weight: 400;
  text-align: right;
}

.footer .links a {
  color: #007c5d;
  padding: 5px;
  text-decoration: none;
}

@media screen and (max-width: 750px) {
  .footer .links a {
    width: 100%;
  }
}

@media screen and (max-width: 750px) {
  .footer .links {
    text-align: center;
    line-height: 25px;
    width: 150px;
  }
}

@media screen and (max-width: 1080px) {
  .footer {
    padding: 0 100px 10px 100px;
  }
}

@media screen and (max-width: 750px) {
  .footer {
    margin: 90px 20% 60px 20%;
  }
}

@media screen and (max-width: 750px) {
  .footer {
    margin: 0 auto;
    padding: 0;
    width: 150px;
  }
}

.foot-notes {
  margin-top: 10px;
  padding: 10px 150px;
  background: #007c5d;
  color: white;
  text-align: left;
}

.foot-notes p {
  padding: 2px 0;
}

@media screen and (max-width: 570px) {
  .foot-notes p {
    width: 100%;
    text-align: center;
  }
}

.foot-notes a {
  color: white;
  -webkit-text-decoration: bold;
          text-decoration: bold;
}

@media screen and (max-width: 570px) {
  .foot-notes a {
    width: 100%;
    text-align: center;
  }
}

.foot-notes .right-side {
  float: right;
}

.foot-notes .right-side a {
  padding: 5px;
}

@media screen and (max-width: 570px) {
  .foot-notes .right-side {
    width: 100%;
    text-align: center;
    margin: 5px 0;
  }
}

@media screen and (max-width: 1080px) {
  .foot-notes {
    font-size: 0.8rem;
    padding: 7px 10%;
  }
}

@media screen and (max-width: 900px) {
  .foot-notes {
    font-size: 0.7rem;
    padding: 5px 10%;
  }
}

@media screen and (max-width: 750px) {
  .foot-notes {
    padding: 4px 5%;
  }
}
