@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*,
:before,
:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  text-align: center;
}

.section1 {
  padding: 30px 200px;
  background: #017a5c;
  color: white;
}

.section1 .logo {
  font-size: 1.7rem;
  font-weight: 600;
  font-style: italic;
}

.section1 .logo i {
  margin-right: 5px;
}

.section1 h1 {
  font-size: 3.7rem;
  font-weight: 500;
  margin-top: 50px;
}

.section1 h2 {
  font-size: 2.2rem;
  font-weight: 400;
  width: 700px;
  margin: auto;
}

.section1 img {
  width: 80%;
}
