@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$green: #007c5d;

*,
:before,
:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: Roboto, sans-serif;
  text-align: center;
}

.section1 {
  padding: 40px 200px 30px 200px;
  background: $green;
  color: white;
  height: 800px;

  .logo {
    font-size: 1.7rem;
    font-weight: 600;
    font-style: italic;

    i {
      margin-right: 5px;
    }
  }

  h1 {
    font-size: 3.7rem;
    font-weight: 500;
    margin-top: 50px;
  }

  h2 {
    font-size: 2.2rem;
    font-weight: 400;
    width: 700px;
    margin: 30px auto;
  }

  input {
    height: 50px;
    width: 270px;
    padding: 20px;
    margin-right: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;

    &:activate {
      outline: none;
    }
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: #555;
      letter-spacing: 1px;
    }
  }

  button {
    height: 50px;
    width: 160px;
    background: #222;
    color: white;
    font-size: 0.95rem;
    border: none;
    border-radius: 5px;
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
      background: #111;
      box-shadow: 0 5px 20px rgb(0, 109, 73);
    }
  }

  p {
    font-size: 0.8rem;
    width: 500px;
    margin: 30px auto;
    font-weight: 300;
  }

  img {
    position: relative;
    width: 85%;
    z-index: 1;
  }
}

.wave {
  position: absolute;
  top: 550px;
  left: 0;
}

.section2 {
  display: flex;
  justify-content: space-around;
  padding: 150px;
  padding-bottom: 120px;
  text-align: left;

  .feature {
    margin: 20px;
    width: 33.3333%;

    .icon {
      color: $green;
      img {
        width: 50px;
      }
    }

    h1 {
      margin: 20px 0 10px 0;
      font-size: 1.1rem;
      font-weight: 500;
    }

    p {
      color: #777;
      font-size: 1rem;
      font-weight: 400;
      line-height: 25px;
    }
  }
}

.section3 {
  text-align: center;
  margin: 0 150px;

  hr {
    border-top: 1px solid #ddd;
    border-bottom: none;
    margin: 50px auto;
  }
  .images {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  img {
    width: 90px;
  }
}

.section4 {
  text-align: center;
  margin: 100px 300px 60px 300px;
  h1 {
    color: #333;
    font-weight: 400;
    margin-bottom: 30px;
    line-height: 2rem;
  }
  h2 {
    color: #444;
    font-size: 0.85rem;
    font-weight: 500;
    text-transform: uppercase;
  }
  button {
    height: 50px;
    width: 160px;
    margin: 50px;
    background: $green;
    color: white;
    font-size: 0.95rem;
    border: none;
    border-radius: 5px;
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
      background: #004e3b;
      box-shadow: 0 5px 20px #ccc;
    }
  }
}

.footer {
  padding: 0 150px 10px 150px;

  .links {
    padding-right: 10px;
    font-size: 1rem;
    font-weight: 400;
    text-align: right;

    a {
      color: $green;
      padding: 5px;
      text-decoration: none;
    }
  }
}

.foot-notes {
  margin-top: 10px;
  padding: 10px 150px;
  background: $green;
  color: white;
  text-align: left;

  p {
    padding: 2px 0;
  }

  a {
    color: white;
    text-decoration: bold;
  }

  .right-side {
    float: right;

    a {
      padding: 5px;
    }
  }
}
