@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*,
:before,
:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  text-align: center;
}

.section1 {
  padding: 30px 200px;
  background: #017a5c;
  color: white;

  .logo {
    font-size: 1.7rem;
    font-weight: 600;
    font-style: italic;

    i {
      margin-right: 5px;
    }
  }

  h1 {
    font-size: 3.7rem;
    font-weight: 500;
    margin-top: 50px;
  }

  h2 {
    font-size: 2.2rem;
    font-weight: 400;
    width: 700px;
    margin: 30px auto;
  }

  input {
    height: 50px;
    width: 270px;
    padding: 20px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;

    &:activate {
      outline: none;
    }
    &:focus {
      outline: none;
    }
  }

  button {
    height: 50px;
    width: 160px;
    background: #222;
    color: white;
    font-size: 0.95rem;
    border: none;
    border-radius: 5px;
    transition: all 0.4s;
    cursor: pointer;

    &:hover {
      background: #111;
      box-shadow: 0 0 20px rgb(0, 109, 73);
    }
  }

  p {
    font-size: 0.8rem;
    width: 500px;
    margin: 30px auto;
  }

  img {
    width: 80%;
  }
}
